.teams__Section {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  background-color: var(--Bright-Red);
  width: 100%;
  padding: 2.5rem;
  align-items: center;
}

.teams__Info {
  width: 450px;
}

.teams__Info > h1 {
  font-size: 40px;
  color: var(--Very--Pale--Red);
}

.teams--Button {
  background-color: var(--Very--Pale--Red);
  color: var(--Bright-Red);
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

@media (max-width: 768px) {
  .teams__Section {
    flex-direction: column;
    text-align: center;
  }
  .teams__Info {
    width: auto;
  }
  .manage__List {
    width: auto;
  }
  .manage__Info {
    text-align: center;
    padding: 1rem;
    width: auto;
  }
  .manage__List--Content {
    padding: 2rem;
  }
}
