.banner__Section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.banner__Image {
  background-image: url("../../images/illustration-intro.svg");
  height: 520px;
  width: 520px;
}

.banner__Image--desk {
  width: 100%;
}

.banner__Image--mobile {
  display: none;
}

.banner__Info > h1 {
  font-size: 45px;
  margin-bottom: 1.5rem;
}

.banner__Info > button {
  margin-top: 2rem;
}

.banner__Info {
  width: 450px;
  padding-right: 1.5rem;
}

@media (max-width: 768px) {
  .banner__Section {
    flex-direction: column-reverse;
  }
  .banner__Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
}
